In [10]:
import numpy as np
from keras.models import Sequential
from keras.layers import Dense, Dropout, LSTM
import pandas as pd
from sklearn.preprocessing import StandardScaler
import seaborn as sns
from matplotlib import pyplot as plt
import yfinance as yf

df = yf.download('TSLA','2016-01-01','2020-01-01')
df.reset_index(inplace=True)
train_dates = pd.to_datetime(df['Date'])

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close     Volume
Date
2016-01-04  15.381333  15.425333  14.600000  14.894000  14.894000  102406500
2016-01-05  15.090667  15.126000  14.666667  14.895333  14.895333   47802000
2016-01-06  14.666667  14.670000  14.398667  14.602667  14.602667   56686500
2016-01-07  14.279333  14.562667  14.244667  14.376667  14.376667   53314500
2016-01-08  14.524000  14.696000  14.051333  14.066667  14.066667   54421500
...               ...        ...        ...        ...        ...        ...
2019-12-24  27.890667  28.364668  27.512667  28.350000  28.350000  120820500
2019-12-26  28.527332  28.898666  28.423332  28.729334  28.729334  159508500
2019-12-27  29.000000  29.020666  28.407333  28.691999  28.691999  149185500
2019-12-30  28.586000  28.600000  27.284000  27.646667  27.646667  188796000
2019-12-31  27.000000  28.086000  26.805332  27.888666  27.888666  154285500

[1006 rows x 6 columns]

In [13]:
cols = list(df)[1:6]
cols

['Open', 'High', 'Low', 'Close']